

img{
    max-height: 20rem;
    max-width: 20rem;
}

footer{
    text-align: center;
}

header{
    text-align: center;
}

a:visited{
    color: #40ff00;
}

a:link{
    color: #ff00d9;
}

a:hover{
    color: #00ffff;
}

a:active{
    color: #ffbf00;
}


